body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #00adb5;
  font-weight: normal;
}

p {
  line-height: 2;
  color: #40514e;
}

hr {
  width: 5%;
  border-top: 5px dotted;
  color: gray;
  margin: 100px auto;
}

.container-fluid {
  padding: 7% 15%;
}

/* headings */

.big-heading {
  margin: 0px;
  font-family: "Sacramento", cursive;
  font-size: 90px;
}

.container-heading {
  font-size: 40px;
  margin: 50px auto;
}

/* top container */

.top-container {
  background-color: #cbf1f5;
  padding: 3% 15% 7%;
  position: relative;
}

.title-text {
  display: inline-block;
  color: #00adb5;
  font-size: 19px;
  font-weight: normal;
  margin: 0px auto 50px auto;
}

.lg-clouds {
  height: 100px;
  width: 100%;
}

.middle-clouds1 {
  position: absolute;
  top: 100px;
  right: 250px;
  opacity: 0.5;
}

.middle-clouds2 {
  position: absolute;
  left: 250px;
  opacity: 0.7;
}

/* middle container */

.profile-pic {
  border-radius: 50%;
  width: 180px;
  height: 200px;
}

.introduction-text {
  width: 50%;
  margin: auto;
}

/* skills */

.skills-row {
  width: 70%;
  margin: 50px auto 80px auto;
  text-align: left;
}

.skills-image {
  width: 30%;
}

.web {
  float: left;
  margin-right: 30px;
}
.gis {
  float: right;
  margin-left: 30px;
}
.python {
  float: left;
  margin-left: 30px;
}

/* contact me */

.contact-text {
  margin: 40px auto;
}

.contact-message {
  width: 50%;
  margin: auto;
}

.BUTTON_PTP {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11cdd4);
  background-image: -moz-linear-gradient(top, #11cdd4, #11cdd4);
  background-image: -ms-linear-gradient(top, #11cdd4, #11cdd4);
  background-image: -o-linear-gradient(top, #11cdd4, #11cdd4);
  background-image: linear-gradient(to bottom, #11cdd4, #11cdd4);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  box-shadow: 1px 1px 20px 0px #11cdd4;
  -webkit-box-shadow: 1px 1px 20px 0px #11cdd4;
  -moz-box-shadow: 1px 1px 20px 0px #11cdd4;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
}

.BUTTON_PTP:hover {
  border: solid #ffffff 1px;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: linear-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/* bottom container */

.bottom-container {
  background-color: #66bfbf;
  padding: 7% 15% 3%;
}
.copyright {
  margin: 20px 0px;
  color: white;
  font-size: 0.75rem;
  line-height: 2;
}

.footer-link {
  color: #21564b;
  margin: 10px;
  text-decoration: none;
}

.footer-link:hover {
  color: #cbf1f5;
}

/* FOR MOBILE RESPONSIVE */

@media (max-width: 620px) {
  .container-fluid {
    padding: 7% 0;
  }

  .big-heading {
    font-size: 65px;
  }

  .title-text {
    font-size: 15px;
  }

  .sm-clouds {
    visibility: hidden;
  }

  .profile-pic {
    width: 150px;
    height: 170px;
  }

  .container-heading {
    font-size: 25px;
    margin: 30px auto;
  }

  .introduction-text {
    width: 75%;
    margin: auto;
    font-size: 15px;
  }

  hr {
    border-top: 4px dotted;
  }

  .skills-heading {
    font-size: 25px;
  }

  .skills-text {
    font-size: 17px;
  }

  p {
    font-size: 13px;
  }

  .skills-row {
    width: 80%;
    margin: 50px auto 80px auto;
    text-align: left;
  }

  .contact-text {
    font-size: 20px;
    width: 80%;
  }

  .BUTTON_PTP {
    font-size: 15px;
  }
}
